{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="ps-page--simple">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shop-default.html">Shop</a></li>
                    <li>Whishlist</li>
                </ul>
            </div>
        </div>
        <div class="ps-section--shopping ps-shopping-cart">
            <div class="container">
                <div class="ps-section__header">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="ps-section__content">
                    <div class="table-responsive">
                        <table class="table ps-table--shopping-cart ps-table--responsive">
                            <thead>
                                <tr>
                                    <th>Product name</th>
                                    <th>PRICE</th>
                                    <th>QUANTITY</th>
                                    <th>TOTAL</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in carts %}
                                <tr>
                                    <td data-label="Product">
                                        <div class="ps-product--cart">
                                            <div class="ps-product__thumbnail"><a href="{{product.product.get_absolute_url}}"><img src="{{product.product.main_product_image}}" alt="" /></a></div>
                                            <div class="ps-product__content"><a href="product-default.html">{{product.product.name}}</a>
                                                <p>Sold By:<strong> {{product.product.seller.company_name}}</strong></p>
                                            </div>
                                        </div>
                                    </td>
                                    {% if product.product.discount_percent > 0 %}
                                    <td class="price" data-label="Price">
                                        ${{product.product.discount}} <del>${{product.product.price}} </del>
                                    </td>
                                    {% else %}
                                    <td class="price" data-label="Price">${{product.product.price}}</td>
                                    {% endif %}
                                    <td data-label="Quantity">
                                        <div class="form-group--number">
                                            <label for="quantity">Quantity:</label>
                                            <a class="minus-cart btn" pid="{{product.product.id}}"><i class="fas fa-minus-square fa-lg"></i></a>
                                                <span id="quantity">{{product.quantity}}</span>
                                            <a class="plus-cart btn" pid="{{product.product.id}}"><i class="fas fa-plus-square fa-lg"></i></a>
                                        </div>
                                        
                                    </td>
                                    
                                    <td class="price" data-label="Price">
                                        <span id="amounts-{{product.product.id}}"> ${{product.product.tempamount|floatformat:2}}</span> 
                                    </td>
                                    
                                    {% comment %} <a class="btn btn-sm btn-secondary mr-3 " pid={{cart.product.id}}>Remove item </a>   {% endcomment %}
                                    <td data-label="Actions"><a href="#" class="remove-cart" pid={{product.product.id}}><i class="icon-cross"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="ps-section__cart-actions"><a class="ps-btn" href="{% url 'product:index' %}"><i class="icon-arrow-left"></i> Back to Shop</a><a class="ps-btn ps-btn--outline" href="shop-default.html"><i class="icon-sync"></i> Update cart</a></div>
                </div>
                <div class="ps-section__footer">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <figure>
                                <figcaption>Coupon Discount</figcaption>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="">
                                </div>
                                <div class="form-group">
                                    <button class="ps-btn ps-btn--outline">Apply</button>
                                </div>
                            </figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <figure>
                                <figcaption>Calculate shipping</figcaption>
                                <div class="form-group">
                                    <select class="ps-select">
                                        <option value="1">America</option>
                                        <option value="2">Italia</option>
                                        <option value="3">Vietnam</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Town/City">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Postcode/Zip">
                                </div>
                                <div class="form-group">
                                    <button class="ps-btn ps-btn--outline">Update</button>
                                </div>
                            </figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--shopping-total">
                                <div class="ps-block__header">
                                    <p>Subtotal <span id="amount"> ${{amount|floatformat:2}}</span></p>
                                </div>
                                <div class="ps-block__content">
                                    <ul class="ps-block__product">
                                        {% for product in carts %}
                                        <li><span class="ps-block__shop">{{product.product.seller.company_name}} Shipping</span><span class="ps-block__shipping">Free Shipping</span><span class="ps-block__estimate">Estimate for <strong>Azerbaijan</strong>
                                            <a href="{{product.product.get_absolute_url}}"> {{product.product.name}} 
                                                <label for="quant-{{product.product.id}}">Quantity:</label>
                                                <span id="quant-{{product.product.id}}">x {{product.quantity}}</span>
                                            </a></span></li>
                                        {% endfor %}
                                    </ul>
                                    <h3>Total <span id="totalamount">${{totalamount|floatformat:2}}</span></h3>
                                </div>
                            </div><a class="ps-btn ps-btn--fullwidth" href="{% url 'product:checkout' %}">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-newsletter">
        <div class="container">
            <form class="ps-form--newsletter" action="http://nouthemes.net/html/martfury/do_action" method="post">
                <div class="row">
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__left">
                            <h3>Newsletter</h3>
                            <p>Subcribe to get information about products and coupons</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-form__right">
                            <div class="form-group--nest">
                                <input class="form-control" type="email" placeholder="Email address">
                                <button class="ps-btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock body %}

    
    