@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,500&display=swap');

.header__content{
    /* background: rgb(32,80,114);
background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(50,157,156,1) 58%); */

background: rgb(32,80,114);
background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(50,157,156,1) 50%, rgba(32,80,114,1) 100%);
padding: 10px !important;
}


::selection {
    color: #7be495;
    background: rgb(32,80,114);
  }

.form-control{
    background-color: #fff !important;
    border: 0 !important;
    outline: 0 !important;
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
    border-radius: 50px !important;
    opacity: 0.8 !important;
}
.searchBtn{
    margin-left: 7px !important;
    border-radius: 50px !important;
    /* opacity: 0.8 !important; */
    /* background: #7be495 !important; */
    background: rgb(50,157,156);
    background: linear-gradient(90deg, rgba(50,157,156,1) 4%, rgba(60,167,155,1) 11%, rgba(123,228,149,1) 54%);
    color: #fff !important;
}
.searchBtn:hover{
    background: rgb(50,157,156);
    background: linear-gradient(317deg, rgba(50,157,156,1) 4%, rgba(60,167,155,1) 11%, rgba(123,228,149,1) 54%);
}

.wocly-logo{
    color: #fff !important;
    font-size: 35px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.ps-block--user-header{
    display: flex;
    align-items: center;
}
.ps-block--user-header{
    color: #fff !important;
}
.ps-block__right{
    display: flex;
}
.ps-block__right a:nth-child(1){
    padding-right: 5px !important;
    border-right: 1px solid #fff !important;
}
.ps-block__right a:nth-child(2){
    padding-left: 5px !important;
}


.homeBanner {
    height: 100vh;
    position: relative;
}
.homeBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}
.bannerGradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(32,80,114);
background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(50,157,156,1) 50%, rgba(32,80,114,1) 100%);
opacity: 0.5;
}
.slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff !important;
    z-index: 9 !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    letter-spacing: 3px;
}

.underSlogan{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    z-index: 9 !important;
    font-size: 24px !important;
    background: rgb(50,157,156);
    background: linear-gradient(90deg, rgba(50,157,156,1) 4%, rgba(60,167,155,1) 11%, rgba(123,228,149,1) 54%);
    padding: 2px 15px;
    border-radius: 50px;
    letter-spacing: 7px;
}
.underSlogan:hover{
    background: rgb(50,157,156);
    background: linear-gradient(317deg, rgba(50,157,156,1) 4%, rgba(60,167,155,1) 11%, rgba(123,228,149,1) 54%);
}
.homeBanner{
    border-bottom: 1px solid #fff !important;
}
/* Home Page Section -2  */

.ps-site-features{
    /* background: rgb(32,80,114);
background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(32,80,114,0.8561799719887955) 29%, rgba(50,157,156,0.9094012605042017) 50%, rgba(32,80,114,0.9150035014005602) 78%, rgba(32,80,114,1) 100%); */
    background-color: transparent !important;
    color: #fff !important;
    /* border: 1px solid #7Be495; */
    margin: 20px 0;
}
.ps-block--site-features h4, p{
    color: #fff !important;
}
.ps-block__item{
    display: flex;
    align-items: center;
}



body{
background: rgb(32,80,114);
background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(32,80,114,1) 29%, rgba(50,157,156,1) 50%, rgba(32,80,114,1) 78%, rgba(32,80,114,1) 100%);
}

.sec1, .sec2, .sec3, .sec4{
    background-color: transparent;
}
.viewAll{
    color: #fff !important;
    border: 0 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 17px;
    letter-spacing: 1px;
}
.ps-block__left h3{
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
}

.ps-section--gray{
    background-color: transparent;
    display: none;
}

.ps-section__header{
    margin-bottom: 35px !important;
}

.employeesContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.workerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workerImg{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}
.workerImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.workerBox h3{
    margin: 0 !important;
    margin-top: 17px !important;
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
    font-weight: 500;
}
.workerText p{
    margin: 0 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
}

.workerText .stars{
    color: orange; 
    font-size: 20px;
}

.sec1Text h1{
    font-family: 'Poppins', sans-serif !important;
    color: #7be495 !important;
}

.sec1Text p{
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
}
.ps-footer{
    background-color: black;
    color: #fff;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}

.ps-footer a{
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
} 

.ps-footer h3{
    color: #56c596 !important;
}

.widget_content p{
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}

.ps-footer__copyright{
    display: flex;
    align-items: center;
}
.ps-footer__copyright img{
    width: 65px;
    height: 45px;
    object-fit: cover;
}
.ps-footer__copyright p{
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}
.payments{
    display: flex;
    align-items: center;
}
.payments .pays{
    margin-left: 10px;
}
.pays {
    display: flex;
    align-items: center;
}

.mastercard{
    width: 70px;
    height: 40px;
}
.mastercard img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scale(0.8);
}

.visa{
    width: 75px;
    height: 50px;
}
.visa img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scale(0.8);
}

.mpay{
    width: 60px;
    height: 50px;
}
.mpay img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.million{
    width: 70px;
    height: 55px;
}
.million img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* #myBtn{
    background: rgb(32,80,114);
    background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(32,80,114,1) 26%, rgba(50,157,156,1) 50%, rgba(32,80,114,1) 75%, rgba(32,80,114,1) 100%);
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    transition: 0.2s;
} */
/* #myBtn:hover{
    color: #7be495;
    background: rgb(32,80,114);
    background: linear-gradient(90deg, rgba(32,80,114,0.9037990196078431) 0%, rgba(50,157,156,1) 20%, rgba(50,157,156,1) 79%, rgba(32,80,114,0.8925945378151261) 100%);
    font-size: 20px;
} */
.myBtn{
    background: rgb(50,157,156);
    background: linear-gradient(90deg, rgba(50,157,156,1) 4%, rgba(60,167,155,1) 11%, rgba(123,228,149,1) 54%);
    color: #205072;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid transparent !important;
}
.myBtn:hover{
    background: rgb(32,80,114);
    background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(32,80,114,1) 26%, rgba(50,157,156,1) 50%, rgba(32,80,114,1) 75%, rgba(32,80,114,1) 100%);
    color: #fff;
    border: 1px solid #fff !important;
}
.myBtn.accInfo{
    padding: 5px 25px !important;
}
#myBtn{
    background: rgb(50,157,156);
    background: linear-gradient(90deg, rgba(50,157,156,1) 4%, rgba(60,167,155,1) 11%, rgba(123,228,149,1) 54%);
    color: #205072;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
}
#myBtn:hover{
    background: rgb(32,80,114);
    background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(32,80,114,1) 26%, rgba(50,157,156,1) 50%, rgba(32,80,114,1) 75%, rgba(32,80,114,1) 100%);
    color: #fff;
    border: 1px solid #fff;
}
.subscribeBtn{
    background: rgb(50,157,156);
    background: linear-gradient(90deg, rgba(50,157,156,1) 4%, rgba(60,167,155,1) 11%, rgba(123,228,149,1) 54%);
    color: #205072;
    font-size: 20px;
    border-radius: 50px !important;
    border: 1px solid transparent;
    padding: 15px 30px !important;
    margin-left: 5px;
}
.subscribeBtn:hover{
    background: rgb(32,80,114);
    background: linear-gradient(90deg, rgba(32,80,114,1) 0%, rgba(32,80,114,1) 26%, rgba(50,157,156,1) 50%, rgba(32,80,114,1) 75%, rgba(32,80,114,1) 100%);
    color: #fff;
    border: 1px solid #fff;
}

.registerActive li{
    color: #fff;
}
.registerActive li.active{
    color: 7be495;
}

.ps-tab{
    margin-bottom: 25px;
}

.header__content-right span:not(#amount_base){
    display: none;
    /* background-color: #7be495 !important; */
}

.ps-section__header h1{
    color: #fff !important;
  }
  .ps-newsletter h3{
    color: #fff !important;
  }

.ps-section--shopping.ps-whishlist{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 30px 0;
}

.ps-section--shopping .ps-section__header{
    padding-bottom: 15px;
}
.ps-whishlist .teamWorkers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.ps-section--shopping .workerContainer{
    background-color: rgb(0,0,0, 0.4);
    padding: 20px;
    border-radius: 20px;
    width: 23%;
    min-width: 236px;
    transition: 0.3s;
    cursor: pointer;
}
.ps-section--shopping .workerContainer:hover{
    transform: scale(1.06);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.ps-footer .widget-title{
    color: #7be495;
}


/* Basket (card) dispay None */

.ps-cart--mini{
    display: none;
}
.icon-heart span{
    display: none !important;
}
.ps-widget__content a{
    font-family: 'Poppins', sans-serif !important;
    border-radius: 10px !important;
}
.ps-widget__content ul{
    border-radius: 10px !important;
    overflow: hidden;
}
.ps-widget__content ul a{
    color: #fff !important;
}
.col-lg-8 h3{
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
    font-weight: 300;
}

/* .ps-form--newsletter{
    border: 1px solid red;
}
.ps-form--newsletter .row{
    border: 1px solid yellow;
}
.ps-form--newsletter .row .ps-form__left{
    border: 2px solid orange;
} */

